zerone
*.o
*.so
*swp
*~
*.gcda
*.gcno
*.gcov
*.log
src/test/gmon.out
src/test/analysis.txt
src/test/runtests
src/test/H3K9ac.txt
src/test/RXRA.txt
src/test/.inspect.gdb
doc/document.aux
doc/document.bbl
doc/document.blg
doc/document.pdf
doc/pmid.xml
