zerone
*.o
*.so
*swp
*~
*.gcda
*.gcno
*.gcov
*.log
doc/document.pdf
src/test/gmon.out
src/test/analysis.txt
src/test/runtests
src/test/H3K9ac.txt
src/test/RXRA.txt
src/test/.inspect.gdb
*.bed
*.fasta
*.fastq.gz
*.gem
*.map
*.sam
docker/fetchChromSizes
docker/discretize/*.2bit
docker/discretize/twoBitToFa
