*/*.bam
*/*.2bit
*/*.fasta
*/*.fastq.gz
*/*.gem
*/*.log
*/*.map
*/*.sam
benchmark/bigWigToBedGraph
benchmark/idrCode/*
benchmark/Jurkat_H3K27ac/*
discretize/*.bed
discretize/fetchChromSizes
discretize/twoBitToFa
JAMM/*
simulate_ChIP/*
